
*{
    font-family: inter;
}
/* shared styles */
.navbar,.banner{
    margin: 0 150px;
}
/* navbar related styles */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-links{
    display: flex;
    list-style: none;
    gap: 45px;
    /* align-items: center;  */
}
.nav-links li a{
   text-decoration: none;
   
}
.color-1{
    color: #252432;
}
.color-2{
    color: #8987A1;
}
.color-3{
    color: #000000;
}
/* banner related styles */

.banner{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;

}
.banner-content{
    padding: 28px;
    
}
.banner-content h3{
    font-family: Noto Serif;
    font-size: 42px;
    font-weight: 700;
    letter-spacing: 0;
    margin-bottom: 0;

}
.banner-content p{
    color: rgba(0, 0, 0, 0.5);
    font-size: 18px;
    font-weight: 400;
   
}
.banner-image{

}
.color-4{
    color: #E95A08;
}