
*{
    font-family: inter;
}
/* shared styles */
.navbar,.banner, .plants, .plants-lover {
    margin: 0 80px;
}
/* navbar related styles */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-links{
    display: flex;
    list-style: none;
    gap: 45px;
    /* align-items: center;  */
}
.nav-links li a{
   text-decoration: none;
   
}
.color-1{
    color: #252432;
}
.color-2{
    color: #8987A1;
}
.color-3{
    color: #000000;
}
/* banner related styles */

.banner{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;

}
.banner-content{
    padding: 28px;
    
}
.banner-content h3{
    font-family: Noto Serif;
    font-size: 2.625em;
    font-weight: 700;
    letter-spacing: 0;
    margin-bottom: 0;

}
.paragraph{
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.1em;
    font-weight: 400;
   
}

.color-4{
    color: #E95A08;
}

/* plants related styles */
.plants{
    margin-top: 80px;
}
.plants-lover-image{
    position: relative;
}
.badge-image{
    position: absolute;
    width: 286px;
    height: 286px;
    left: 340px;
    top: -120px;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.3));
    
}
.plants-lover-content h4{
    font-size: 2.2em;
    font-weight: 700;
    margin-bottom: 0;   
}
.plants-lover-content ol{
   
   display: flex;
   flex-direction: column;
   gap: 20px; 
   list-style:disc;
}

.plants-card{   
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px; 
        
}   
.plants, .card-details{
    text-align: center;
}
.card-details{
    font-size: 1.1em;
}
.plant-price{
    font-weight: bold;
}
.card-button{
    width: 100%;
    border: none;
    background-color: #E95A08;
    color: white;
    padding: 15px;
}
.color-5{
    color: #111111;
}
/* plants-lover related styles */
.plants-lover{
    display: flex;
    justify-content: space-between;
    margin-top: 200px;
    gap: 50px;
}
.plants-lover h3{
    font-size: 3.12em;
    font-weight: 700;
}

/* for responsive(mobile devices)*/
@media  screen and (max-width: 576px) {
    /* navbar */
    .nav-link{
        display: none;
    }
    .navbar{
        justify-content: space-between;
        margin: auto;
    }
    /* banner */
    .banner{
        flex-direction: column-reverse;
        margin: auto;
    }
    .banner-content{
        text-align: left;
        
    }
    .banner-content h3{
        /* font-size: 24px; */
    }
    /* plants */
    .plants{
        margin: auto;
    }
    .plants-card{
        grid-template-columns: repeat(2, 1fr);
    }
    /* plants lover */
    .plants-lover{
        margin: 40px 10px;
        flex-direction: column;
    }
    .badge-image{
        display: none;
    }
    .mobile-hide{
        display: none;
    }

   
}