/* navbar related styles */
/* shared styles */
*{
    font-family: inter;
}
.navbar{
    margin: 0 150px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-links{
    display: flex;
    list-style: none;
    gap: 45px;
    /* align-items: center;  */
}
.nav-links li a{
   text-decoration: none;
   
}
.color-1{
    color: #252432;
}
.color-2{
    color: #8987A1;
}
.color-3{
    color: #000000;
}
/* banner related styles */